#portfolio{
    margin-top: 4rem;
}

#portfolio > h2 {
    font-weight: 500;
    padding: 2rem 0;
}


.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.portfolio-item {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1rem 0 1rem 0;
    border: 3px solid transparent;
    transition: var(--transition);
}

.portfolio-item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio-item-image {
    border-radius: 1rem 0 1rem 0;
    overflow: hidden;
}

.portfolio-item h3 {
    text-align: center;
    margin: 1rem 0 2rem;
    font-size: 0.8rem;
}

.portfolio-item-cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1rem;
    justify-content: center;
}



/* ================Media Queries (md)=============== */
@media screen and (max-width: 1024px) {
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
 
}  
   
/* ================Media Queries (sm)=============== */
@media screen and (max-width: 600px) {
    .portfolio-container {
        grid-template-columns: 1fr;
        gap: 1rem;    
    }

}